ESIOS_API_KEY=tu_api_key_aqui # Debes solicitar tu propia API Key en https://www.esios.ree.es/es/apis
DATABASE_URL=postgresql+psycopg2://energy_user:energy_password@localhost:5432/energy_dw
PREFECT_API_URL=http://127.0.0.1:4200/api